.container {
  padding: 50px;
  display: flex;
}

.item {
  flex: 1;
}

.table {
  width: 100%;
  border-spacing: 20px;
  text-align: left;
}

.button {
  border: none;
  color: white;
  padding: 5px;
  cursor: pointer;
}

.button:first-child {
  background-color: teal;
  margin-right: 10px;
}

.button:last-child {
  background-color: crimson;
}

.linkButton {
  text-align: center;
  font-size: .8rem;
  font-weight: 400;
  letter-spacing: 2px;
  width: 10rem;
  padding: calc(0.5rem * 1) calc(0.5rem * 3);
  background-color: rgb(255, 255, 255);
  border: 1px solid #d1411e;
  color: #d1411e;
  text-transform: uppercase;
  transition: all 0.3s;
  cursor: pointer;
}
.linkButton:hover {
  background-color:#d1411e;
  color:  rgb(255, 255, 255);
}
.linkButton:disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
